<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
<% if (typeof num === 'undefined') { %>
  <p>Enter your name below</p>
<% } else { %>
  <p>There are <%= num %> letters in your name</p>
<% } %>
<form action="/submit" method="POST">
  <input type="text" name="fName" placeholder="First name">
  <input type="text" name="lName" placeholder="Last name">
  <input type="submit" value="OK">
</form>

</body>

</html>
